# This is a basic workflow to help you get started with Actions

name: Automatic Pull Request

# Controls when the workflow will run
on:
  # MVP에 직접 push되었을 때, (PR에 의한 merge 포함)
  push:
    branches: [MVP]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Cache node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Checking out Code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Dependencies # 의존 파일 설치
        run: npm ci

      - name: Build # React Build
        run: npm run build

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: MVP
          message: "[Built] test"

  AutoPR:
    needs: Build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Create PR
      - name: auto PR
        if: github.event.commits[0].message == '[Build] test'
        uses: devops-infra/action-pull-request@v0.4.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_branch: MVP
          target_branch: main
          title: Alpha Test (Merge MVP to main)
          template: .github/PULL_REQUEST_TEMPLATE/CHECK.md
          #label: alpha test
          get_diff: true

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo PR Success!
